@charset "UTF-8";
/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
@font-face {
  font-family: "Commissioner";
  src: url("../fonts/../fonts/Commissioner-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Commissioner";
  src: url("../fonts/../fonts/Commissioner-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Commissioner";
  src: url("../fonts/../fonts/Commissioner-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  min-width: 0;
}

.page {
  height: 100%;
  font-family: "Commissioner", sans-serif;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-height: 100%;
  font-size: 15px;
  line-height: 21px;
  color: #000;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1230px;
}

.section-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 27px;
  line-height: 34px;
  color: #000;
}

.title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #000;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: start;
  align-self: flex-start;
  overflow: hidden;
  border: 1px solid #a9b3bf;
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
}
.form__title {
  margin-bottom: 0;
  border-bottom: 1px solid #a9b3bf;
  padding: 5px;
  text-align: center;
  background-color: #edeff2;
}
.form__body {
  display: none;
  padding: 20px;
}
.form__body.visible {
  display: block;
}
@media (max-width: 575px) {
  .form__body {
    padding: 10px 10px 20px;
  }
}
.form__descr {
  margin-bottom: 20px;
}
.form__descr-tel {
  white-space: nowrap;
  color: inherit;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .form__descr-tel:hover {
    color: #a9b3bf;
  }
}
.form__group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  margin-bottom: 20px;
  width: 100%;
}
@media (max-width: 575px) {
  .form__group {
    margin-bottom: 15px;
  }
}
.form .just-validate-error-label {
  display: none;
}
.form__input {
  border: 1px solid #717880;
  border-radius: 5px;
  padding: 14px 16px 0;
  width: 100%;
  height: 55px;
  font-family: "Commissioner", serif;
  font-size: 16px;
  line-height: 23px;
  color: #000;
  background-position: right 20px center;
  background-repeat: no-repeat;
  -webkit-transition: border-color 0.3s, -webkit-box-shadow 0.3s;
  transition: border-color 0.3s, -webkit-box-shadow 0.3s;
  -o-transition: border-color 0.3s, box-shadow 0.3s;
  transition: border-color 0.3s, box-shadow 0.3s;
  transition: border-color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.form__input::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
}
.form__input::-moz-placeholder {
  color: #000;
  opacity: 1;
}
.form__input:-ms-input-placeholder {
  color: #000;
  opacity: 1;
}
.form__input::-ms-input-placeholder {
  color: #000;
  opacity: 1;
}
.form__input::placeholder {
  color: #000;
  opacity: 1;
}
.form__input:focus, .form__input:not([value=""]) {
  outline: none;
  border-color: #0051d4;
  -webkit-box-shadow: 0 0 0 1px #0051d4;
  box-shadow: 0 0 0 1px #0051d4;
}
.form__input:focus + .form__label, .form__input:not([value=""]) + .form__label {
  color: #a9b3bf;
  -webkit-transform: translate(16px, 4px) scale(0.75);
  -ms-transform: translate(16px, 4px) scale(0.75);
  transform: translate(16px, 4px) scale(0.75);
}
.form__input.just-validate-error-field {
  border-color: #d90800;
  padding-right: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: url("../img/error.svg");
}
.form__input.just-validate-success-field {
  border-color: #4ad45d;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: url("../img/success.svg");
}
@media (max-width: 767px) {
  .form__input {
    height: 50px;
  }
}
.form__label {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px;
  line-height: 23px;
  color: #000;
  -webkit-transform: translate(16px, 14px) scale(1);
  -ms-transform: translate(16px, 14px) scale(1);
  transform: translate(16px, 14px) scale(1);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  /* stylelint-disable-next-line declaration-colon-newline-after */
  -webkit-transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  -o-transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  pointer-events: none;
}
.form__btn {
  width: 100%;
}
.form__result {
  display: none;
  padding: 20px;
}
.form__result-image {
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .form__result-image {
    width: 75px;
    height: 75px;
  }
}
@media (max-width: 767px) {
  .form__result-image {
    width: 60px;
    height: 60px;
  }
}
.form__result .form__descr {
  margin-bottom: 0;
  text-align: center;
}
.form__result.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn {
  border-radius: 5px;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 17px;
  line-height: 17px;
  color: #fff;
  background-color: #0051d4;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.btn:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
@media (any-hover: hover) {
  .btn:hover {
    background-color: #0866ff;
  }
}

.list-point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 18px 20px;
}
.list-point li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 50px;
  min-height: 40px;
}
.list-point li::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  color: #0051d4;
  background: #f2f2f2;
}
@media (max-width: 991px) {
  .list-point {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .list-point {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 575px) {
  .list-point {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.list-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 18px 20px;
}
.list-reviews li {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border: 1px solid #e0e3e8;
  border-radius: 20px;
  padding: 14px;
  height: 100%;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
@media (any-hover: hover) {
  .list-reviews li:hover {
    -webkit-box-shadow: 0 10px 20px rgba(169, 179, 191, 0.2);
    box-shadow: 0 10px 20px rgba(169, 179, 191, 0.2);
  }
}

.list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 18px 20px;
}
.list-icon li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}
.list-icon__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
  padding: 8px;
  background-color: #edeff2;
}
.list-icon__icon svg {
  width: 32px;
  height: 32px;
  fill: #d90800;
}
@media (max-width: 991px) {
  .list-icon {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .list-icon {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.sortable-title {
  cursor: pointer;
}
@media (max-width: 991px) {
  .sortable-title {
    pointer-events: none;
  }
}

.promo {
  margin-bottom: 30px;
  padding-top: 40px;
  background-color: #fff;
}
.promo__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr 1fr;
  grid-template-columns: 300px 1fr 1fr;
  border-bottom: 1px solid #edeff2;
  padding-bottom: 30px;
  gap: 18px;
}
@media (max-width: 1199px) {
  .promo__container {
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    -ms-grid-columns: 350px 1fr;
    grid-template-columns: 350px 1fr;
    -ms-grid-rows: (auto)[2];
    grid-template-rows: repeat(2, auto);
  }
}
@media (max-width: 991px) {
  .promo__container {
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}
.promo__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  height: 392px;
}
@media (max-width: 1199px) {
  .promo__image {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/3/2;
    height: 442px;
  }
  .promo__image img {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .promo__image {
    display: none;
  }
}
.promo__content {
  padding-right: 60px;
}
@media (max-width: 1199px) {
  .promo__content {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/2/3;
    padding-right: 0;
  }
}
@media (max-width: 991px) {
  .promo__content {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
  }
}
.promo__descr {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 27px;
  color: #000;
}
.promo__descr-highlight {
  padding: 0 5px;
  font-weight: 600;
  font-size: 25px;
  color: #d90800;
}
.promo__period {
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 21px;
  color: #717880;
}
.promo__period-highlight {
  font-weight: 600;
}
@media (max-width: 1199px) {
  .promo__period {
    margin-bottom: 0;
  }
}
.promo__invite {
  position: relative;
  border-radius: 5px;
  padding: 20px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background-color: #edeff2;
}
.promo__invite::after {
  content: "";
  position: absolute;
  right: -110px;
  top: -4px;
  border: 48px solid transparent;
  border-left: 48px solid #edeff2;
}
@media (max-width: 1199px) {
  .promo__invite {
    display: none;
  }
}
@media (max-width: 1199px) {
  .promo__form {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2/2/3/3;
  }
}
@media (max-width: 991px) {
  .promo__form {
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
  }
}
@media (max-width: 991px) {
  .promo {
    padding-top: 20px;
  }
}

.info__content {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 991px) {
  .info__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.info__item {
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .info__item {
    margin-bottom: 20px;
    border-bottom: 1px solid #edeff2;
    padding-bottom: 20px;
  }
}

.specialists__wrapper {
  position: relative;
}
.specialists__content {
  width: calc(100% - 100px);
}
.specialists .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.specialists__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
@media (any-hover: hover) {
  .specialists__item:hover .specialists__image {
    -webkit-box-shadow: 0 10px 20px rgba(169, 179, 191, 0.2);
    box-shadow: 0 10px 20px rgba(169, 179, 191, 0.2);
  }
  .specialists__item:hover .specialists__image img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
}
@media (max-width: 575px) {
  .specialists__item {
    max-width: 300px;
  }
}
.specialists__image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 20px;
  width: 100%;
  max-width: 145px;
  background: #edeff2;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  will-change: transform;
}
.specialists__image::before {
  content: "";
  display: block;
  padding-bottom: 120%;
}
.specialists__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (max-width: 1199px) {
  .specialists__image {
    max-width: 100%;
  }
}
.specialists__name {
  font-weight: 600;
  text-align: center;
  color: #000;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .specialists__name:hover {
    color: #a9b3bf;
  }
}
.specialists__btns {
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 1199px) {
  .specialists__btns {
    top: 40%;
  }
}
@media (max-width: 575px) {
  .specialists__btns {
    margin: 0 auto;
    max-width: 400px;
  }
}
.specialists__slider-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.specialists__slider-btn.swiper-button-disabled {
  opacity: 0.2;
  pointer-events: none;
}
@media (any-hover: hover) {
  .specialists__slider-btn:hover {
    background-color: #0051d4;
  }
  .specialists__slider-btn:hover .specialists__slider-icon {
    fill: #fff;
  }
}
.specialists__slider-icon {
  fill: #000;
  -webkit-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  transition: fill 0.3s;
}
/*# sourceMappingURL=main.css.map */